[Unit]
Description=GCE Maintenance Alerts
After=network.target

[Service]
Type=simple
PrivateTmp=yes
PermissionsStartOnly=true
PIDFile=/var/run/newrelic/newrelic-plugin-agent.pid
ExecStartPre=/bin/mkdir -p /opt/gce-maintenance-alerts
ExecStart=/usr/bin/python gce_maintenance_alerts.py -c /opt/gce-maintenance-alerts/config.ini
ExecStop=/bin/kill -INT $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
